<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <section class="gradient-form">
        <div class="container py-5">
            <div class="card rounded-3 text-black">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <img src="/assets/Home.png" alt="Home Loan Calculator">
                            <p>Calculate your home loan payments.</p>
                            <button class="btn btn-login" (click)="navigateToHomeLoan()">Calculate</button>
                        </div>
                        <div class="col-md-6 text-center">
                            <img src="/assets/Investment.png" alt="Investment Calculator">
                            <p>Plan your investments wisely.</p>
                            <button class="btn btn-login" (click)="navigateToInvestment()">Calculate</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
