<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Investment</title>
</head>
<body>
<!-- investment-calculator.component.html -->
<section class="gradient-form">
    <div class="container py-5">
      <div class="card rounded-3 text-black">
        <div class="card-header">
          <img src="/assets/Investment.png" alt="Investment Logo" style="width: 260px;">
        </div>
        <div class="card-body">
          <h3>Investment Calculator</h3>
          <form (ngSubmit)="calculateInvestment()">
            <div class="mb-4">
              <label class="form-label" for="investmentAmount">Investment Amount</label>
              <input type="number" id="investmentAmount" class="form-control" placeholder="Enter investment amount" 
              [(ngModel)]="investmentAmount" name="investmentAmount" required />
            </div>
            <div class="mb-4">
              <label class="form-label" for="annualInterestRate">Annual Interest Rate</label>
              <input type="number" id="annualInterestRate" class="form-control" placeholder="Enter annual interest rate"
              [(ngModel)]="annualInterestRate" name="annualInterestRate" required />
            </div>
            <div class="mb-4">
              <label class="form-label" for="years">Number of Years</label>
              <input type="number" id="years" class="form-control" placeholder="Enter the number of years" 
              [(ngModel)]="years" name="years" required />
            </div>
            <div class="text-center">
              <button class="btn btn-login btn-block" type="submit">Calculate</button>
            </div>
          </form>
          <app-calculation-result
          [investmentResult]="investmentResult"
        ></app-calculation-result>
        </div>
      </div>
    </div>
  </section>
  
</body>
</html>
